body {
    background-color: aliceblue;
    margin: 0;
    text-align: center;
}
.project-container {
    height: 400px;
    margin: 5%;
    border-radius: 5px;
    border: 2px solid;
}
.webpage-image {
    display: block;
    float:left;
    width: 47%;
    margin: 0 auto;
    height: 94%;
    padding: 2%;
}   
.webpage-image a img {
    height: 94%;
    max-width: 100%;
    object-fit: contain;
}
.project-info-container {
    float:right;
    height: 380px;
    width: 45%;
    overflow: auto;
    padding: 2%;
}

.certificate {
    height: 100px;
    width: 150px;
}

 @media screen and (max-width: 800px){
    .project-info-container, .webpage-image {
        float: none;
        width: 96%;
        height: 48%;
    }
    .project-container {
    height: 600px;
    } 
    h2 {
        margin: 0;
    }
}
