body {
    background-color: ;
    margin: 0;
    text-align: center;
    
}
a {
    text-decoration: none;
}
h1 {
    font-size: 40px;
    margin-top: 40px;
}
h2 {
    text-decoration: underline;
}
header p {
    font-size: 18px;
    margin: 4%;
}
.project-container {
    height: 400px;
    margin: 0% 5% 5% 5%;
    border-radius: 5px;
    border: 2px solid;
}
.webpage-image {
    display: block;
    float:left;
    width: 47%;
    margin: 0 auto;
    height: 94%;
    padding: 2%;
}   
.webpage-image a img {
    height: 94%;
    max-width: 100%;
    object-fit: contain;
}
.project-info-container {
    float:right;
    height: 360px;
    width: 45%;
    overflow: auto;
    padding: 2%;
}

.certificate {
    height: 100px;
    width: 150px;
}
.certificate:hover {
    height: 300px;
    width: 450px;
    position: relative;
    bottom: 50%;
}

#title-sorting {
    color: #601511;
}
#title-pancake {
    color: #4f3b78;
}
#title-succulents {
    color: #729613;
}

 @media screen and (max-width: 800px){
    .project-info-container, .webpage-image {
        float: none;
        width: 96%;
        height: 48%;
    }
    .project-container {
    height: 600px;
    } 
    h2 {
        margin: 0;
    }
    .certificate:hover
    {
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 40%;
}
}
